services:
  app:
    container_name: url-checker
    image: url-checker:latest
    restart: always
    build:
      context: .
    ports:
      - 3000:3000
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017